# tpmap: SeisComp scmv/scmvx-style map workbench.
connection.primaryGroup = GUI
connection.subscriptions = FEATURE, WFPARAM, ANOMALY, EVENT, QC, STATUS, CONFIG, INVENTORY, JOURNAL

displaymode = network
annotations = false
annotationsWithChannels = false
showUnboundSensors = true
mapLegendPosition = topright
eventLegendPosition = bottomleft
readEventsNotOlderThan = 86400
stations.groundMotionRecordLifeSpan = 600
stations.triggerTimeout = 900
stations.groundMotionFilter = ITAPER(60)>>BW_HP(4,0.5)
display.latmin = -90.0
display.lonmin = -180.0
display.latmax = 90.0
display.lonmax = 180.0
