# tprttv: SeisComp scrttv-style realtime trace workbench.
connection.primaryGroup = GUI
connection.subscriptions = WAVEFORM, FEATURE, ANOMALY, EVENT, QC, STATUS, CONFIG, INVENTORY

maxDelay = 0
resortAutomatically = true
showPicks = true
filters = BW 0.5 - 8.0 Hz;RMHP(2)>>ITAPER(5)>>BW(3,0.5,8.0), HP 3.0 Hz;RMHP(2)>>ITAPER(5)>>BW_HP(3,3)
autoApplyFilter = false
bufferSize = 1800
allTracesInitiallyVisible = false
streams.codes = default
streams.sort.mode = object
streams.region.lonmin = -180.0
streams.region.lonmax = 180.0
streams.region.latmin = -90.0
streams.region.latmax = 90.0
